<!DOCTYPE html>
<html>

<head>
    <title>index</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>
    <h1><a href="/" >BBZW Webshob</a></h1>
    <table width="100%">
        <tr>
            <td colspan="3">
            </td>
            <td>
                <a href="/cart"><strong>Warenkorb <%= Number.parseFloat(total).toFixed(2) %> CHF </strong></a>
            </td>
        </tr>
        <% if (product) {%>
            <td>
                <img src="../assets/<%=product.imageName%>" width="40%">
                </td>
                <td>
                    <table>
                        <tr>
                            <td><h2><%=product.productName%></h2></td>
                        </tr>
                        <tr>
                            <td><p><%=product.description%></p></td>
                        </tr>
                        <tr>
                            <td><form action="" method="POST">
                                <button type="submit">Zum Warenkorb hinzufügen</button>
                            </form></td>
                        </tr>
                    </table>
                </td>
            <%}%>
        
    </table>
          
</body>

</html>

