<!DOCTYPE html>
<html>

<head>
    <title>Checkout</title>
</head>
    <body>
        <h1><a href="/" >HeaderPicutre</a></h1>
        <table width="100%">
            <tr>
                <td>
                    <a>Warenkorb <%=total %></a>
                </td>
            </tr>
            <tr>
                <td>
                    Vorname
                </td>
                <td>
                    <input type="text" id="firstName" required>
                </td>
            </tr>
            <tr>
                <td>
                    Nachname
                </td>
                <td>
                    <input type="text" id="lastname" required>
                </td>
            </tr>
            <tr>
                <td>
                    Email-Adresse
                </td>
                <td>
                    <input type="email" id="firstName" required>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Einkauf abschliessen</button>
                </td>
            </tr>
        </table>             
    </body>
</html>